$primary : rgb(221, 186, 213);
$secondary : #8A6656;
$terciary : #e4e3de;
// font-family: 'Lobster', cursive;
// font-family: 'Roboto', sans-serif;

*{
    margin: 0px !important;
    padding: 0px !important;
}

body{
    background-color: $terciary;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-family: 'Lobster', cursive;
    h2{
        color: $secondary;
        font-weight: bolder;
    }
    ul{
        margin-bottom: 0px;
        li{
            color: $secondary;
        }
        li:hover{
            color: $primary;
            cursor: pointer;
        }
    }
}

#loginPanel{
    &>div{
        background-color: $primary;
    }
}

#newProduct{
    background-color: $primary;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

#panelProductList{
    background-color: white;
    font-weight: bolder;

    #productList{
        tr{
            // padding: 100%;
            background-color: $terciary;
            vertical-align: middle;
        }
        button{
            height: 30px ;
            width: 30px ;
            color: white
        }
    }
    tfoot{
        color: rgb(0, 207, 0);
    }

}

// #panel>div>div{
//     background-color: black;
//    }